# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build
build/
dist/
.next/
out/
.cache/
.temp/
*.local

# Logs
logs/
*.log

# Coverage / test
coverage/
.nyc_output/

# Lock files (keep only one)
# yarn.lock
# package-lock.json
# pnpm-lock.yaml

# Editor
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
